@use "../utilities" as *;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;    

  &__title {
    font-size: fs(large);
    font-weight: fw(medium);
    line-height: 1.3125;
    margin-bottom: rem(40px);
  }  

  &__photo {
    margin-bottom: rem(20px);
  }

  &__list {
    .about__item {
      font-weight: fw(bold);

      &:nth-child(1) {
        line-height: 1.75;
        margin-bottom: rem(4px);    
      }

      &:nth-child(2) {
        line-height: 1.75;
        margin-bottom: rem(8px);    
      }

      &:nth-child(3) {
        padding-bottom: rem(24px);    
        border-bottom: 1px solid clr(primary, 900);
      }
    }  
  }

  &__list--red {
    .about__item {
      font-weight: fw(bold);
      line-height: 1.75;
      margin-bottom: rem(28px);  

      &:last-child {
        margin-bottom: rem(56px);
      }      

      &::before {
        content: '';
        display: inline-block;
        width: rem(22px);
        height: rem(22px);
        border-radius: 50%;
        background-color: clr(accent, 400);
        vertical-align: middle;
        margin-right: rem(16px);        
      }
    }
  }  
}